<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bkp.com.hospitalmanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/poster"
        android:label="Smart Care"
        android:roundIcon="@drawable/poster"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Receptionist.PaymentReceptionistActivity"></activity>
        <activity android:name=".Doctor.EditPrescriptionDoctorActivity" />
        <activity android:name=".Doctor.ViewPrescriptionDoctorActivity" />
        <activity android:name=".Receptionist.ViewPrescriptionReceptionistActivity" />
        <activity android:name=".Patient.EditAppointmentPatient" />
        <activity android:name=".Doctor.ValidateAppointmentFromDoctorToReceptionistActivity" />
        <activity android:name=".Doctor.ViewAppointmentDoctorActivity" />
        <activity android:name=".Receptionist.ValidateAppointmentFromReceptionistToDoctorActivity" />
        <activity android:name=".Receptionist.ViewAppointmentReceptionistActivity" />
        <activity android:name=".Receptionist.ReceptionistHomeActivity" />
        <activity android:name=".Admin.ManageReceptionist.AdminAddReceptionistActivity" />
        <activity android:name=".Admin.ManageReceptionist.AdminManageReceptionistActivity" />
        <activity android:name=".Patient.ViewAppointmentPatientActivity" />
        <activity android:name=".Patient.NewAppointmentPatientActivity" />
        <activity android:name=".Patient.PatientHomeActivity" />
        <activity android:name=".Patient.PatientLoginActivity" />
        <activity android:name=".Doctor.DoctorHomeActivity" />
        <activity android:name=".Admin.ManageDoctor.AdminAddDoctorActivity" />
        <activity android:name=".Admin.ManageDoctor.AdminManageDoctorActivity" />
        <activity android:name=".Admin.AdminHomeActivity" />
        <activity android:name=".Aboutus.AboutusRegistrationActivity" />
        <activity android:name=".Clinic.ClinicRegistrationActivity" />
        <activity android:name=".Receptionist.ReceptionistLoginActivity" />
        <activity android:name=".Patient.PatientRegistrationActivity" />
        <activity android:name=".Doctor.DoctorLoginActivity" />
        <activity android:name=".Admin.AdminLoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>